# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Default ignored files
/workspace.xml
.idea/ 
test/.classpath
test/.settings
.vscode
test/.vscode
test/target
test/.project
test/.factorypath
*.iml